@import "./fonts.css";
:root{
    --rr: "Roboto-Regular", sans-serif;
    --rb: "Roboto-Bold", sans-serif;
    --rath: "Raleway-Thin", sans-serif;
    --rare: "Raleway-Regular", sans-serif;
    --rabo: "Raleway-Bold", sans-serif;
    --rabl: "Raleway-Black", sans-serif;
    --white: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,  li{
    list-style: none;
}
body{
    background-color: black;
}
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

/* header start */

.header__top{
    background-color: black;
}
.header__top-inner{
    padding: 20px 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top__icon{
    display: flex;
    align-items: center;
    gap: 5px;
}
.top__icon>span{
    font-family: var(--rr);
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    transition: .3s;
}
.top__icon>span:hover{
    color: #cecece;
}
.top__item{
    display: flex;
    gap: 20px;
}
.top__link{
    font-family: var(--rr);
    font-size: 16px;
    line-height: 19px;
    /* text-align: right; */
    color: var(--white);
    transition: .3s;
}
.top__link:hover{
    color: #cecece;
}
.header__middle{
    background: black;
    border-top: 1px solid rgba(125, 115, 115, 0.5);
    border-bottom: 1px solid rgba(125, 115, 115, 0.5);
    backdrop-filter: blur(15px);
}
.header__middle-inner{
    padding: 3px 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: var(--rb);
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: var(--white);
    background: rgba(10, 148, 24, 0.75);
    border-radius: 4px;
    padding: 11px 18px;
    cursor: default;
    border: 4px solid #06600F;
}

/* .menu{
    cursor: pointer;
    display: none;
    align-items: center;
    width: 30px;
    height: 30px;
}
.menu__item{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
}
.menu__item::before, .menu__item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: inherit;
}
.menu__item::before{
    top: -7px;
}
.menu__item::after{
    bottom: -7px;
} */

/* menu start */

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    opacity: 1;
    right: 0px;
  }
  
  .menu__btn {
    display: none;
    align-items: center;
    position: absolute;
    top: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: none;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    opacity: 0;
    display: none;
    position: absolute;
    top: 53px;
    width: 140px;
    height: 200px;
    padding: 15px 3px;
    background-color: #000000;
    transition: .3s;
}
  
  .menu__item {
    display: none;
    padding: 7px 21px;
    color: var(--white);
    font-family: var(--rare);
    font-size: 16px;
    transition-duration: .25s;
}
  .menu__item:hover {
    background-color: brown;
  }

/* menu end */

.nav__item{
    display: flex;
}
.nav__link{
    font-family: var(--rare);
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: var(--white);
    padding: 23px 14px 24px;
    background: transparent;
    transition: .3s;
}
.nav__link:hover{
    background: rgba(105, 207, 23, 0.75);
}
.header__bottom{
    background: url(../img/header-bg.jpg) no-repeat center/cover;
    margin-bottom: 48px;
}
.header__bottom-inner{
    padding: 167px 245px 179px;
}
.bottom__title{
    font-family: var(--rabl);
    font-size: 72px;
    line-height: 85px;
    color: #69CF17;
    padding-bottom: 18px;
}
.bottom__span{
    font-family: var(--rare);
    font-size: 36px;
    line-height: 17px;
    color: #69CF17;
}
.bottom__text{
    font-family: var(--rare);
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    padding-bottom: 30px;
    padding-top: 18px;
}
.prise-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prise-btn>span{
    font-family: var(--rath);
    font-size: 50px;
    line-height: 25px;
    color: var(--white);
    background: rgba(105, 207, 23, 0.5);
    backdrop-filter: blur(18px);
    padding: 33px 76px;
}
.bottom__btn{
    font-family: var(--rare);
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: var(--white);
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    border-radius: 6px;
    padding: 15px 70px;
    transition: .3s;
}
.bottom__btn:hover{
    background: linear-gradient(90deg, #57a716 0%, #305710 100%);
}

/* header end */

/* burger start */

.section1{
    padding: 20px 15px;
    background: #292929;
    box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3);
}
.section__item{
    display: flex;
    gap: 35px;
}
.section__link{
    font-family: var(--rare);
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    border-bottom: 1px solid transparent;
    transition: .3s;
    padding-bottom: 20px;
}
.section__link:hover{
    border-bottom: 1px solid var(--white);
    padding-bottom: 20px;
}
.section2{
    background: #393636;
    margin-bottom: 50px;
}
.section2__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
    gap: 30px;
}
.section2__card{
    padding: 15px;
    background: #0C0C0C;
    border: 1px solid var(--white);
    box-sizing: border-box;
    border-radius: 4px;
}
.burger__content{
    position: relative;
}
.burger__content-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(105, 207, 23, 0.9);
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
}
.burger__content:hover .burger__content-inner{
    opacity: 1;
}
.burger__title{
    font-family: var(--rabo);
    font-size: 19px;
    line-height: 15px;
    color: var(--white);
    padding-top: 15px;
}
.burger__text{
    font-family: var(--rare);
    font-size: 19px;
    line-height: 25px;
    color: var(--white);
    padding-top: 15px;
}
.section3{
    background-color: var(--white);
}
.section3__title{
    font-family: var(--rabo);
    font-size: 50px;
    line-height: 40px;
    color: #69CF17;
    padding: 20px 0;
    text-align: center;
}

/* burger end */

/* footer start */

.footer{
    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
    padding: 30px 0 81px;
}
.logo-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 245px 81px;
}
.phone{
    font-family: var(--rb);
    font-size: 20px;
    line-height: 23px;
    color: var(--white);
    transition: .3s;
}
.phone:hover{
    transform: scale(1.05);
}
.footer__item{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer__link{
    font-family: var(--rr);
    font-size: 20px;
    line-height: 23px;
    color: var(--white);
    border-bottom: 2px solid transparent;
    transition: .3s;
}
.footer__link:hover{
    border-bottom: 2px solid #d1cbcb;
    color: #d1cbcb;
}

/* footer end */

/* scroll start */

::-webkit-scrollbar{
    background-color: black;
    height: 4px;
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 5px;
}

/* scroll end */